/*!*CSS reset https://cssreset.com/scripts/html5-doctor-css-reset-stylesheet/#the-scripts*!*/

/*html, body, div, span, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*abbr, address, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, samp,*/
/*small, strong, sub, sup, var,*/
/*b, i,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section, summary,*/
/*time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    font-size: 100%;*/
/*    vertical-align: baseline;*/
/*    background: transparent;*/
/*}*/

body {
    font-family: 'Fira Sans', sans-serif;
    color: white;
}


.container {
    background-color: #2F9BFA;
    display: flex;
    flex-direction: column;
    width: 17.5%;
    justify-content: center;
    margin: auto;
    /*padding: 10px solid black;*/
    border: 7px solid lightgrey;
}


.box {
    width: 90%;
    text-align: left;
    /*margin: 20px;*/
    /*padding: 5px;*/
    /*border: 3px solid black;*/
}


img {
    height: 40%;
    width: auto;
    display: block;
    /*border: 3px solid orange;*/
    margin: auto;
    /*overflow: auto;*/
}

hr {
    /*border-collapse: collapse;*/
    border: 1px #000;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    /*text-align: left;*/
}

th {
    text-align: left;
}

footer {
    text-align: right;
}