/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#mockup {
    width: 332px;
    height: 516px;
    background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-yu-3-21/master/1.The-Field/5.End-of-Field/1.Trial-Run/images/13.ui-chart-2.png?token=AAFTYPC4SCNSITCGMEUCNLS7BBK7I);

    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;
    z-index: 10;
    pointer-events: none;
}

.widget {
    /* width: calc(332px - 24px - 24px - 6px - 6px); */
    width: calc(332px - 6px - 6px);
    height: calc(516px - 6px - 6px);
    margin: 6px;
    background-color: #568DE9;
    padding: 24px;
    color: white;
}

.widget h2 {
    margin: 0;
    font-size: 13px;
    font-weight: normal;
}

